.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px 0;
  background-color: $main;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 200px;

    @include lg {
      width: 360px;
    }
  }

  &__nav {
  }
}
