.navigation {
  &__list {
    display: none;
    position: absolute;
    padding-top: 120px;
    padding-bottom: 120px;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: $main;
    color: $second;
    text-align: center;

    @include lg {
      padding-top: 144px;
      padding-bottom: 144px;
    }

    @include xl {
      position: static;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0;
      height: auto;
    }
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include xl {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 1000;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    outline: 2px solid transparent;
    outline-offset: 4px;
    padding: 0 4px;

    &:focus:not(:hover) {
      outline-color: $back;
    }

    &_active {
      color: $back;
      pointer-events: none;
    }

    @include lg {
      &:hover {
        color: $back;
      }
    }

    @include xl {
      display: block;
      padding: 16px 28px;
      border: 2px solid $back;
      border-radius: 80px;
      outline: none;

      &:focus:not(:hover) {
        background-color: $back;
      }

      &_active {
        color: inherit;
        pointer-events: none;
        background-color: $back;
      }
    }
  }

  &__button {
    display: block;
    width: 36px;
    height: 36px;
    background: url("../img/menu.svg") center/contain no-repeat;

    @include lg {
      width: 48px;
      height: 48px;
    }

    @include xl {
      display: none;
    }
    &_active {
      background-image: url("../img/close.svg");
    }
  }
}
